body {
}

#cabecera {
    height: 150px;
    background-color: #30405f;/*#ff7800*/
    color: white;
    border: 1px dashed #003380;
    box-shadow: 0px 0px 10px #000;
    position: relative;
    z-index: 2;
}

#contenidoCabecera {
    width: 960px;
    margin: auto;
}


#barraHorizontal {
    height: 40px;
    background-color: #af251b;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px #000 inset;
    text-align: center
}

    #barraHorizontal >ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    #barraHorizontal li {
        display: inline-block;
        padding: 10px;
        cursor: pointer;
        background-color: #ffffff;/*#FF9a40;*/
        color: #0B1728;
        box-shadow: 0px 0px 5px #000 inset;
    }

    #barraHorizontal li>a {
        display: block;
        color: #003380;
        text-decoration: none;
        font-weight: bold;
    }

#logo {
    width: 51%;
    float: left;
    text-align: center;
    margin-top: 10px;
}
    #logo > img {
        box-shadow: 0px 0px 10px #000;
    }

#Titulo {
    width: 48%;
    float: left;
    text-align: center;
    text-shadow: 2px 2px 5px #000;
}

    #Titulo >h1 {
       margin-top: 12px;
    }

    #Titulo >h2 {
        margin-top: 0;
    }

#bajo {
    width: 1260px;
    margin: auto;
    background-color: #5599ff;
    border-radius: 0px 0px 20px 20px;
    overflow: auto;
    box-shadow: 0px 0px 10px #000;
}

#columnIzq, #columnDer {
    float: left;
    width: 10%;
    min-height: 500px;
}

#columnCentro {
    float: left;
    width: 80%;
    min-height: 500px;
    background-color: white;
    box-shadow: 0px 0px 5px #000 inset;
}

#pie {
    height: 30px;
    background-color: #30405f;
    border-radius: 0px 0px 20px 20px;
    clear: both;
    box-shadow: 0px 0px 5px #000 inset;
    color: white;
    text-align: center;
    padding-top: 5px;
}

#menuContextual {
    list-style-type: none;
    padding: 0;
    margin: 30px 0;
    cursor: pointer;
}

#menuContextual >li {
    padding: 10px;
    text-align: center;
    background-color: #fff;
    color: #0B1728;
    border: 1px outset #30405f;
    box-shadow: 0px 0px 10px #000 inset;
    font-weight: bold;
}

#menuContextual >li :hover {
    background-color: #808080;
}

#menuContextual>li>a {
    text-decoration: none;
    color: #0B1728;

}
/*
#Ingresar {
    background-color: #f0f0f0;
    width: 800px;
    border: 1px solid white;
    margin: 30px auto;
    padding: 1em;
    border-radius: 10px;
}

#Ingresar > h1 {
    color: #0080ff;
}

#Ingresar > input[type=text], #Ingresar > input[type=date]{
    margin: 0 0 1em 0;
    width: 300px;
    border: 0px;
    padding: 1em;
    border-radius: 3px;
    
}
*/
#Login {
    background-color: #f0f0f0;
    width: 250px;
    border: 1px solid white;
    margin: 200px auto;
    padding: 1em;
    border-radius: 10px;
}

    #Login > h1 {
        color: #0080ff;
    }

    #Login > input[type=text], #Login> input[type=password] {
        margin: 0 0 1em 0;
        width: 200px;
        border: 0px;
        padding: 1em;
        border-radius: 3px;
    }

    #Login > input[type=button], #Login > a {
        padding: 1em;
        background-color: #0080ff;
        border: none;
        color: white;
        font-weight: bold;
        font-size: 14px;
        border-radius: 3px;
        text-decoration: none;
        cursor: pointer;
    }

     #Login > input[type=button]:hover, #Login > a:hover {
         background-color: #0040ff;
     }

#ingresar_form h2, #ingresar_form label{ 
	font-family: Georgia, 
	Times, 
	"Times New Roman", 
	serif; 
} 

.form_hint, .required_notification { 
	font-size: 20px; 
} 

/* === List Styles === */ 

#ingresar_form ul { 
	width: 750px; 
	list-style-type: none; 
	list-style-position: outside; 
	margin: auto; 
	padding: 0px; 
} 

#ingresar_form li { 
	padding: 10px; 
	border-bottom: 1px solid #eee; 
	position: relative; 
} 

#ingresar_form li:first-child, #ingresar_form li:last-child {
	border-bottom: 1px solid #777; 
} 
/* === Form Header === */ 

#ingresar_form h2 {
	margin: 0; 
	display: inline;
} 

.required_notification { 
	color: #d45252;
	margin: 1px 0 0 0; 
	display: inline; 
	float: right; 
} 
/* === Form Elements === */

#ingresar_form label { 
	width: 150px; 
	margin-top: 3px; 
	display: inline-block; 
	float: left; padding: 3px; 
} 
#ingresar_form input { 
	height: 20px; 
	width: 220px; 
	padding: 5px 8px; 
}
 #ingresar_form select {
     height: 35px; 
	width: 260px; 
	padding: 5px 8px; 
}
#ingresar_form textarea {
	padding: 8px; 
	width: 500px; 
} 
#ingresar_form button { 
	margin-left: 156px; 
} 
/* form element visual styles */ 

#ingresar_form input, #ingresar_form textarea, #ingresar_form select {
	border: 1px 
	solid #aaa; 
	box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset; 
	border-radius: 2px; 
	padding-right: 30px; 
	-moz-transition: padding .25s; 
	-webkit-transition: padding .25s; 
	-o-transition: padding .25s; 
	transition: padding .25s; 
} 
#ingresar_form input:focus, #ingresar_form textarea:focus, #ingresar_form select:focus { 
	background: #fff; 
	border: 1px solid #555; 
	box-shadow: 0 0 3px #aaa; 
	padding-right: 70px; 
} 
/* === HTML5 validation styles === */ 

#ingresar_form input:required, #ingresar_form select:required { 
	background: #fff url(/imagenes/red_asterisk.png) no-repeat 98% center; 
} 
#ingresar_form input:required:valid, #ingresar_form select:required:valid { 
	background: #fff url(/imagenes/valid.png) no-repeat 98% center; 
	box-shadow: 0 0 5px #5cd053; 
	border-color: #28921f; 
} 
#ingresar_form input:focus:invalid, #ingresar_form select:focus:invalid{ 
	background: #fff url(/imagenes/invalid.png) no-repeat 98% center; 
	box-shadow: 0 0 5px #d45252; 
	border-color: #b03535; 
} 
/* === Form hints === */

.form_hint { 
	background: #d45252; 
	border-radius: 3px 3px 3px 3px; 
	color: white; 
	margin-left: 8px; 
	padding: 1px 6px; z-index: 999; 
	/* hints stay above all other elements */ 
	position: absolute;
	/* allows proper formatting if hint is two lines */ 
	display: none; 
} 

.form_hint::before { 
	content: "\25C0"; 
	color: #d45252; 
	position: absolute; 
	top: 1px; left: -6px; 
} 

#ingresar_form input:focus + .form_hint, #ingresar_form select:focus + .form_hint { 
	display: inline; 
} 
#ingresar_form input:required:valid + .form_hint, #ingresar_form select:required:valid + .form_hint { 
	background: #28921f; 
} 
#ingresar_form input:required:valid + .form_hint::before, #ingresar_form select:required:valid + .form_hint::before {
 	color: #28921f; 
} 
/* === Button Style === */ 

button.boton {
	background-color: #68b12f; 
	background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e)); 
	background: -webkit-linear-gradient(top, #68b12f, #50911e); 
	background: -moz-linear-gradient(top, #68b12f, #50911e); 
	background: -ms-linear-gradient(top, #68b12f, #50911e); 
	background: -o-linear-gradient(top, #68b12f, #50911e); 
	background: linear-gradient(top, #68b12f, #50911e); 
	border: 1px solid #509111; 
	border-bottom: 1px solid #5b992b; 
	border-radius: 3px; 
	-webkit-border-radius: 3px; -moz-border-radius: 3px; 
	-ms-border-radius: 3px; 
	-o-border-radius: 3px; 
	box-shadow: inset 0 1px 0 0 #9fd574; 
	-webkit-box-shadow: 0 1px 0 0 #9fd574 inset; 
	-moz-box-shadow: 0 1px 0 0 #9fd574 inset; 
	-ms-box-shadow: 0 1px 0 0 #9fd574 inset; 
	-o-box-shadow: 0 1px 0 0 #9fd574 inset; 
	color: white; 
	font-weight: bold; 
	padding: 6px 20px; 
	text-align: center; 
	text-shadow: 0 -1px 0 #396715; 
} 
button.boton:hover { 
	opacity: .85; 
	cursor: pointer; 
} 
button.boton:active { 
	border: 1px solid #20911e; 
	box-shadow: 0 0 10px 5px #356b0b inset; 
	-webkit-box-shadow: 0 0 10px 5px #356b0b inset; 
	-moz-box-shadow: 0 0 10px 5px #356b0b inset; 
	-ms-box-shadow: 0 0 10px 5px #356b0b inset; 
	-o-box-shadow: 0 0 10px 5px #356b0b inset; 
} 